name: Build image and deploy in eks

on:
  workflow_call:
    inputs:
      ecr_repository:
        required: true
        type: string
      kube_namespace:
        required: true
        type: string
      aws_cluster_name:
        required: true
        type: string
      application_path:
        required: true
        type: string
      k8s_manifest_name:
        required: true
        type: string
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      aws_region:
        required: true


jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ secrets.aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Build & Push Image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
        run: |
          docker build -t $ECR_REGISTRY/i8w3e9p0/${{ inputs.ecr_repository }}:latest ${{ inputs.application_path }}
          docker push $ECR_REGISTRY/i8w3e9p0/${{ inputs.ecr_repository }}:latest

#      - name: Update KubeConfig
#        shell: bash
#        run: |
#          aws eks update-kubeconfig --name ${{ inputs.aws_cluster_name }} --region=${{ secrets.aws_region }}
#
#      - name: Deploy To Cluster
#        shell: bash
#        run: kubectl apply -n ${{ inputs.kube_namespace }} -f ${{ inputs.application_path }}/${{ inputs.k8s_manifest_name }}
